.signUpPage {
    .form {
        p {
            color: rgb(144, 144, 144);
            font-size: 16px;
        }
    }
}

.minilink {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: rgb(171, 171, 171);
    font-weight: lighter;
    text-decoration: underline;
    cursor: pointer;
}