.notifications {
    position: fixed;
    z-index: 2;
    width: 100%;

    .notificationsWrap {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 5;
        margin: 62px 0 0 0;
        
        .pushNotification {
            animation-name: opacityAnimation;
            animation-duration: .5s;
            backdrop-filter: blur(3px);
            max-width: 370px;
            // min-width: 360px;
            width: 100%;
            z-index: 5;
            border-radius: 10px;
            // margin: 0 0px 10px;
            padding: 10px;
            background: rgb(22, 22, 22);
            color: white;
            font-weight: bold;
            // box-shadow: var(--base-shadow);
            
            .notificationMessage {
                span {
                    z-index: 6;
                    position: absolute;
                    top: 8px; left: 8px;
                    // transform: translateY(-100px);
                    padding: 1px 8px;
                    background: rgb(255, 255, 255);
                    border-radius: 5px;
                    font-weight: lighter;
                    color: rgba(255, 0, 0, 0.864);
                }

                div {
                    margin: 2px 0 0 0;
                }
            }
        }

        .warningNotification {
            span {
                color: rgb(255, 166, 0)!important;
            }
            background: rgba(255, 166, 0, 0.762);
        }

        .errorNotification {
            background: rgba(255, 0, 0, 0.639);
        }

        .successNotification {
            span {
                color: rgba(0, 220, 70, 0.85)!important;
            }
            background: rgba(0, 220, 70, 0.85);
        }
    }
}

@keyframes opacityAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  }