.button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 16px;
    cursor: pointer;
    color: white;    
    color: rgb(50, 50, 50);
    border-radius: 8px;

    border: none;
    background: none;
    font-family: 'Product Sans';
    font-size: 15px;
}

.button:hover {
    box-shadow: none;
}

.btn-style-fill {
    box-shadow: var(--base-shadow);
}

.btn-style-fill-b {
    // background: var(--base-gradient);
    background: rgb(27, 71, 231);
    transition: .3s;
    color: white;
    padding: 8px 15px;
    transition: .3s;
}

.btn-style-fill-b:hover {
    // background: var(--base-gradient-flow);
    background: rgb(13, 52, 194);
}

.btn-style-fill-b:disabled {
    background: linear-gradient(-45deg, rgb(226, 98, 13), rgb(223, 173, 9));
}

.btn-style-border {
    padding: 4px 14px;
    background: rgb(255, 255, 255);
    border: 2px solid var(--base-color);
}