.header {
    width: 100%;
    position: fixed;
    height: 50px;
    box-sizing: border-box;
    background: white;
    // border-bottom: 1.5px solid rgb(204, 204, 204);
    box-shadow: 0 3px 6px rgb(225, 225, 225);
    padding: 0 10px;
    z-index: 5;

    .logoImg {
        width: 45px;
        height: auto;
    }
}
