.form {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    margin: 0px;
    border-radius: 14px;
    box-shadow: var(--base-shadow);

    h3, h2, h1, p {
        margin: 0 0 5px 0;
    }
}

// @media screen and (max-width: 315px) {
//     .form {
//         min-width: 1px;
//     }
// }
