@font-face {
  src: url('../../assets/fonts/ProductSans-Regular.ttf');
  font-family: 'Product Sans';
}

@font-face {
  src: url('../../assets/fonts/Ubuntu-R.ttf');
  font-family: 'Ubuntu';
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.App {
  padding: 50px 0 0 0;
}

body {
  --base-color: rgb(255, 123, 0);
  --base-shadow: 0 2px 4px rgba(172, 172, 172, 0.639);
  --base-gradient: linear-gradient(-45deg, rgb(255, 102, 0), rgb(255, 196, 0));
  --base-gradient-flow: linear-gradient(-45deg, rgb(238, 95, 0), rgb(236, 181, 0));
  margin: 0;
  padding: 0;
  // background: rgba(253, 253, 253, 0.109);
  font-family: 'Product Sans';
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
}

.color-w {
  color: white;
}

.color-m {
  color: var(--base-color);
}

h3, h2, h1, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p1 {
  padding: 10px;
}

.p1h {
  padding: 0 10px;
}

.h8 {
  height: 80vh;
}

.w100 {
  width: 100%;
}

.logo {
  font-family: 'Ubuntu';
  color: rgb(255, 123, 0);
}