.input {
    border: 1px solid rgb(199, 199, 199);
    padding: 10px 10px;
    width: 100%;
    margin: 0 0 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Product Sans';
    background-color: rgb(255, 255, 255);
}